<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".Class.Notificationcass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DewanPannel"
        tools:targetApi="31">
        <activity
            android:name=".StudentTeacher"
            android:exported="false" />
        <activity
            android:name=".PanelActivity.SubActivitys.TimetableActivity"
            android:exported="false" />
        <activity
            android:name=".PanelActivity.SubActivitys.UpdateTpo_S"
            android:exported="false" />
        <activity
            android:name=".PanelActivity.SubActivitys.UpdateTpo_All"
            android:exported="false" />
        <activity
            android:name=".PanelActivity.SubActivitys.UpdateD_All"
            android:exported="false" />
        <activity
            android:name=".PanelActivity.SubActivitys.UpdateD_T"
            android:exported="false" />
        <activity
            android:name=".PanelActivity.SubActivitys.UpdateD_S"
            android:exported="false" />
        <activity
            android:name=".PanelActivity.SubActivitys.UpdateT_All"
            android:exported="false" />
        <activity
            android:name=".PanelActivity.SubActivitys.UpdateT_S"
            android:exported="false" />
        <activity
            android:name=".PanelActivity.SubActivitys.UpdateS_T"
            android:exported="false" />
        <activity
            android:name=".PanelActivity.DekhActivity"
            android:exported="false" />
        <activity
            android:name=".PanelActivity.HarvanActivity"
            android:exported="false" />
        <activity
            android:name=".SActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateS_T"
            android:exported="false" />
        <activity
            android:name=".SubPanelActivity.UpdateS_T"
            android:exported="false" />
        <activity
            android:name=".TeacherInformall"
            android:exported="false" />
        <activity
            android:name=".SubPanelActivity.Teachertoall"
            android:exported="false" />
        <activity
            android:name=".SubPanelActivity.Teacherinformall"
            android:exported="false" />
        <activity
            android:name=".SubPanelActivity.UpdateTeacher"
            android:exported="false" />
        <activity
            android:name=".SubPanelActivity.Timetable"
            android:exported="false" />
        <activity
            android:name=".PanelActivity.StudentLoginActivity"
            android:exported="false" />
        <activity
            android:name=".PanelActivity.TpoLoginActivity"
            android:exported="false" />
        <activity
            android:name=".PANALACTIVITY.DirectorsActivity"
            android:exported="false" />
        <activity
            android:name=".PANALACTIVITY.PannelActivity"
            android:exported="false" />
        <activity
            android:name=".PANALACTIVITY.StudentActivity"
            android:exported="false" />
        <activity
            android:name=".PANALACTIVITY.TeacherActivity"
            android:exported="false" />
        <activity
            android:name=".PanelActivity.TeacherloginActivity"
            android:exported="false" />
        <activity
            android:name=".PANALACTIVITY.TpoActivity"
            android:exported="false" />
        <activity
            android:name=".SubPanelActivity.UpdateStudent"
            android:exported="false" />
        <activity
            android:name=".PANALACTIVITY.PanelLogin"
            android:exported="false" />
        <activity
            android:name=".PANALACTIVITY.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>